section {
    background-color: lightcyan;
    border: 1px solid black;
}

aside {
    /* margin: 10px; */
    background-color: cadetblue;
    border: 1px solid black;
    height: 200px;
    width: 50px;
}

.flex-box {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 100%;
    height: 400px;
}

.flex-element {
    height: 400px;   
    width: 100%;
}

.flex-element2 {
    height: 200px;
    margin-right: 10px;
}

