.grid-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
}

.grid-item {
    background-color: silver;
    border: 2px solid black;
}
