.grid-container {
    display: grid;
    gap: 5px;
    grid-template-rows: repeat(6, 60px);
    grid-template-columns: repeat(7, 60px);
    /* border: 2px solid black; */
}

.grid-element {
    border: 1px solid black;
    margin: 1px;
    text-align: center;
    background-color: aliceblue;
}

#hol {
    color: firebrick;
}

#day {
    top: 1%;
    position: sticky;
    background-color: darkgray;
}

